<form 
	[formGroup]="form"
	(ngSubmit)="signup()"
	>
	<div class="form-group">
		<label for="username">Username</label>
		<input
			id="username"
			type="text"
			class="form-control"
			formControlName="username"
		>
		<div
			*ngIf="form.controls.username._errors && form.controls.username.touched">
			<div 
				*ngIf="form.controls.username._errors.required"
				class="alert alert-danger">
				Username is required.
			</div>
			<div
				*ngIf="form.controls.username._errors.cannotContainSpace"
				class="alert alert-danger">
				Username cannot contain space
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input
			id="password"
			type="text"
			class="form-control"
			formControlName="password"
		>
		<div
			*ngIf="form.controls.password.invalid && form.controls.password.touched"
			class="alert alert-danger">
			Password is required
		</div>
	</div>
	<button class="btn btn-primary" (click)="upClick()">Sign Up</button>
</form>