<!-- Build in pipes like UpperCase, LowerCase, Decimal, Currency, Date, Json -->
<!-- title first gets converted to uppercase then lowercase -->
{{ course.title | uppercase | lowercase }}
<br/>
<!-- Decimal pipe -->
{{ course.students | number }}
<br/>
<!-- supply parament to decimal pipe
	parameters- min_digits_before_dot.min-max_digits_after_dots
 -->
{{ course.rating | number:'2.2-2'}}
<br/>
<!-- Currency pipe, provide parameters to finetune currency pipe
	parameters- 'currency_code':include_symbol_or_not:digit_info_similar_to_desimal_pipe
-->
{{ course.price | currency:'AUD':true:'2.2-2' }}
<br/>
<!-- date:'shortDate/longDate/shortTime/longTime' -->
{{ course.releaseDate | date:'MMM yyyy' }}
<br/>
<!-- Angular will simply call the two string method on this object which gives us [object Object] -->
{{ course | json }}