<!-- Build in pipes like UpperCase, LowerCase, Decimal, Currency, Date, Json -->
<!-- title first gets converted to uppercase then lowercase -->
{{ course.title | uppercase | lowercase }}
<br/>
<!-- Decimal pipe -->
{{ course.students | number }}
<br/>
<!-- supply parament to decimal pipe
	parameters- min_digits_before_dot.min-max_digits_after_dots
 -->
{{ course.rating | number:'2.2-2'}}
<br/>
<!-- Currency pipe, provide parameters to finetune currency pipe
	parameters- 'currency_code':include_symbol_or_not:digit_info_similar_to_decimal_pipe
-->
{{ course.price | currency:'AUD':true:'2.2-2' }}
<br/>
<!-- date:'shortDate/longDate/shortTime/longTime' -->
{{ course.releaseDate | date:'MMM yyyy' }}
<br/>
<!-- Angular will simply call the two string method on this object which gives us [object Object] -->
{{ course | json }}
<br/>
{{ post.title }}
<br/>
<!--extend the pipe to add other parameters -->
{{ post.body | summary:10 }}
<br/>
<button 
	[style.backgroundColor]="canSave ? 'blue' : 'gray'"
	[style.color]="canSave ? 'white' : 'black'"
	[style.fontWeight]="canSave ? 'bold' : 'normal'">
	Click Here
</button>
<!-- Here we have too many style properties. Use ngStyle, like ngClass in favourite component -->
<button 
	[ngStyle]="{
		backgroundColor: canSave ? 'blue' : 'gray',
		color: canSave ? 'white' : 'black',
		fontWeight: canSave ? 'bold' : 'normal'
	}">
Click Here
</button>
<!-- Elvis operator -->
<!-- If name is null application wil crash -->
<ul>
	<li>Title: {{task.title}}</li>
	<li>Assigned to :{{task.assignee != null ? task.assignee.name : "" }}</li>
	<li>Role: {{ task.assignee?.role?.name }}
</ul>
